.card-container {
  display: flex;
  justify-content: center;
  padding: 6px;
}

.responsive-card {
  width: 100%;
  max-width: 600px;
}

.logo-header-image {  
  background-size: cover;
}

.row {
  display: flex;
  align-items: center;      /* centrage vertical */
  justify-content: space-between; /* gauche / droite */
  width: 100%;
}

.points {
  font-weight: bold;
}

.badge {
  display: inline-flex;        // encore mieux
  align-items: center;
  justify-content: center;
  width: 24px !important;
  height: 24px !important;
  border-radius: 50%;  
  flex-shrink: 0;
}

.badge.top {
  background-color: #2ecc71; /* vert */
}

.badge.not-top {
  background-color: #e74c3c; /* rouge */
}



// 
/* Container comme ton mat-card */


/* Card */
.result-card {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  width: 100%;
  max-width: 400px;

  padding: 12px 16px;

  border-radius: 12px;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  gap: 12px;
}

.result-card.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.avatar img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.title {
  font-weight: 600;
  font-size: 20px;
}

.subtitle {
  font-size: 13px;
  color: rgba(0,0,0,0.6);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.label {
  font-weight: 600;
  font-size: 20px;
}

.icons {
  display: flex;
  gap: 8px;
  align-items: center;
}

.badge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: gray;
}

.badge.top {
  background: green;
}

@media (max-width: 350px) {
  .result-card {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
  }

  .actions {
    grid-column: 1 / -1;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}