:host {
  display: block;
  max-width: 900px;
  margin: 0 auto 24px;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center; // centré horizontalement
  gap: 12px;

  font-size: 22px;
  font-weight: 600;
  text-align: center;
}