/**
 * host occupe toute la largeur
 */
:host {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
}

/**
 * texte de titre centré
 */
.page-title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}