.card-container {
  display: flex;
  justify-content: center;
  padding: 6px;
}

.responsive-card {
  width: 100%;
  max-width: 600px;
}

.logo-header-image {  
  background-size: cover;
}

.row {
  display: flex;
  align-items: center;      /* centrage vertical */
  justify-content: space-between; /* gauche / droite */
  width: 100%;
}

.points {
  font-weight: bold;
}