.card-container {
  display: flex;
  justify-content: center;
  padding: 6px;
}

.responsive-card {
  width: 100%;
  max-width: 600px;
}

.logo-header-image {  
  background-size: cover;
}

.row {
  display: flex;
  align-items: center;      /* centrage vertical */
  justify-content: space-between; /* gauche / droite */
  width: 100%;
}

.points {
  font-weight: bold;
}

.badge {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.badge.top {
  background-color: #2ecc71; /* vert */
}

.badge.not-top {
  background-color: #e74c3c; /* rouge */
}